
body {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tan;
}
 a{
     display:inline;
 }
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-default{
     background-color: tan;
}
footer{
     background-color: tan;
     text-align:center;
}

.navbar-header{
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    padding: 0;
    overflow: hidden;
    background-color: tan;
}
